.one 
{       width: 100px;
    height: 60px;
        background-color: black;
        color: grey;
        font-weight: 800;
        font-family: 'Press Start 2P', cursive;
        margin-left: 319px;
        margin-top: 127px;
}
.two
{
    width: 127px;
    height: 50px;
        background-color: black;
        color: grey;
        font-weight: 800;
        font-family: 'Press Start 2P', cursive;
        margin-left: 714px;
        margin-top: 127px;
}
   

.title
{
    height: 100px;
    color: grey;
    margin-top: 20px;
    margin-left: 421px;
    font-size: 100px;
    font-weight: 900;
    font-family: 'Press Start 2P', cursive;
}

.write{
    margin-top: 220px;
    color: grey;
    font-family: 'Press Start 2P', cursive;

}

.a
{
    background: black;
}